<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DotNetZip" version="1.10.1" targetFramework="net452" />
  <package id="MouseKeyHook" version="5.4.0" targetFramework="net452" />
  <package id="Screna" version="0.5.3" targetFramework="net452" />
  <package id="Screna.MouseKeyHook" version="0.2.0" targetFramework="net452" />
  <package id="Screna.SharpAvi" version="0.3.1" targetFramework="net452" />
  <package id="SharpAvi" version="2.1.0" targetFramework="net452" />
</packages>